{% extends 'layout.html.twig' %}


{% block main %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda dolore ex exercitationem iste molestiae nihil quae quia tenetur totam. Corporis, cum error odio pariatur quos reprehenderit sit tenetur voluptates.</p>
{% endblock %}


