{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Ajout de produit </h1>
{#
    {{ form_start(ideaForm) }}
    {{ form_widget(ideaForm) }}
        <button>goooo</button>

    {{ form_end(ideaForm) }}
#}

    {{ form(ideaForm) }}

{% endblock %}


